gymnasium==0.27.0
# Stable Baselines 3 with gymnasoum support
git+https://github.com/carlosluis/stable-baselines3@fix_tests#egg=stable_baselines3[extra,tests,docs]
black
plotly
nbformat
pandas
ipykernel
ipywidgets
torch
flask